---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.4
  name: virtualservices.envoy.kaasops.io
spec:
  group: envoy.kaasops.io
  names:
    categories:
    - all
    kind: VirtualService
    listKind: VirtualServiceList
    plural: virtualservices
    shortNames:
    - vs
    singular: virtualservice
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VirtualService is the Schema for the virtualservices API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: VirtualServiceSpec defines the desired state of VirtualService
            properties:
              accessLog:
                type: object
                x-kubernetes-preserve-unknown-fields: true
              accessLogConfig:
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                type: object
              additionalHttpFilters:
                items:
                  properties:
                    name:
                      type: string
                    namespace:
                      type: string
                  type: object
                type: array
              additionalRoutes:
                items:
                  properties:
                    name:
                      type: string
                    namespace:
                      type: string
                  type: object
                type: array
              httpFilters:
                description: HTTPFilters for use custom HTTP filters
                items:
                  type: object
                  x-kubernetes-preserve-unknown-fields: true
                type: array
              listener:
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                type: object
              rbac:
                properties:
                  action:
                    type: string
                  additionalPolicies:
                    items:
                      properties:
                        name:
                          type: string
                        namespace:
                          type: string
                      type: object
                    type: array
                  policies:
                    additionalProperties:
                      type: object
                      x-kubernetes-preserve-unknown-fields: true
                    type: object
                type: object
              template:
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                type: object
              templateOptions:
                items:
                  properties:
                    field:
                      type: string
                    modifier:
                      type: string
                  type: object
                type: array
              tlsConfig:
                properties:
                  autoDiscovery:
                    description: Find secret with domain in annotation "envoy.kaasops.io/domains"
                    type: boolean
                  secretRef:
                    properties:
                      name:
                        type: string
                      namespace:
                        type: string
                    type: object
                type: object
              upgradeConfigs:
                description: UpgradeConfigs - https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto#envoy-v3-api-msg-extensions-filters-network-http-connection-manager-v3-httpconnectionmanager-upgradeconfig
                items:
                  type: object
                  x-kubernetes-preserve-unknown-fields: true
                type: array
              useRemoteAddress:
                description: |-
                  Controller HCM Extensions (https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto)
                  UseRemoteAddress - use remote address for x-forwarded-for header (https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto#extensions-filters-network-http-connection-manager-v3-httpconnectionmanager)
                type: boolean
              virtualHost:
                type: object
                x-kubernetes-preserve-unknown-fields: true
            type: object
          status:
            description: VirtualServiceStatus defines the observed state of VirtualService
            properties:
              lastAppliedHash:
                format: int32
                type: integer
              message:
                type: string
              usedSecrets:
                items:
                  properties:
                    name:
                      type: string
                    namespace:
                      type: string
                  type: object
                type: array
              valid:
                type: boolean
            required:
            - valid
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
